body {
	background: #ffffff;
}

nav a {
	color: rgb(10, 92, 10);
}

nav a:hover {
	color: green;
}

.view {
	padding: 4rem 1rem 5% 7rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section .glass {
	border-radius: 2rem;
	background: #ffffff;
	box-shadow: 20px 20px 60px #b3b3b3,
		-20px -20px 60px #ffffff;
	color: black;
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.logos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logos img {
	height: 15rem;
	margin: 2rem 6rem 4rem;
}

.info {
	font-size: 1.2rem;
	text-align: center;
	width: 90%;
}

.info button {
	margin: 2rem auto;
}

.card {
	margin-top: 5rem;
	display: flex;
	border-radius: 1.5rem;
	padding: 1rem;
	text-align: left;
	width: 85%;
	justify-content: space-between;
	align-items: center;
}

.text {
	height: 100%;
	width: 50%;
	padding: 1rem;
}

.heading {
	color: green;
	font-size: 2rem;
	font-weight: 800;
	margin-bottom: 1rem;
	transition: all 0.7s;
}

.content {
	font-size: 1rem;
	font-weight: 400;
}

.card-image {
	width: 50%;
	height: auto;
	display: flex;
	align-items: center;
}

.card-image img {
	max-width: 100%;
	height: auto;
	border-radius: 0.5rem;
}

@media only screen and (max-width: 991px) {
	section {
		padding: 10% 0;

		display: flex;
		width: 100vw;
	}

	.view {
		padding: 0;
	}

	.logos {
		flex-direction: column;
		width: 100%;
	}

	.card {
		flex-direction: column;
		margin: 5% 0;
	}

	.text {
		width: 100%;
		padding: 1rem 2rem;
	}

	.home {
		margin-top: 10%;
	}
}

.volunteer-button {
	background: #ffffff;
	box-shadow: 20px 20px 60px #666666,
		-20px -20px 60px #ffffff;
	display: inline-block;
	padding: 1rem;
	text-decoration: none;
	border-radius: 1rem;
	border: none;
	color: green;
	font-size: 14px;
	cursor: pointer;
	text-transform: uppercase;
	transition: all 0.5s;
}

.volunteer-button:hover {
	background-color: green;
	color: white;
}

.footer {
	color: white;
	background-color: green;
}

.footer a {
	color: white;
}

.footer a:hover {
	color: whitesmoke;
}

.social-icons {
	border-radius: 50px;
	background: #ffffff;
	box-shadow: 20px 20px 60px #666666,
		-20px -20px 60px #ffffff;
	padding: 0.5rem;
	text-align: center;
}

.social-icons a {
	color: rgb(10, 92, 10);
}

.social-icons a:hover {
	color: green;
}

.navbar {
	background: #ffffff;
	-webkit-box-shadow: 5px 5px 40px #b3b3b3, -5px -5px 40px #ffffff;
	box-shadow: 5px 5px 40px #b3b3b3, -5px -5px 40px #ffffff;
}