.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register>iframe {
  border-radius: 1rem;
  width: 80%;
  height: 80%;
}

@media only screen and (max-width: 991px) {
  .register>iframe {
    width: 95%;
    height: 90%;
  }
}