canvas {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

/* Cards */

.kjsce {
	position: fixed;
	z-index: 2;
	left: 10%;
	top: 20%;
	display: flex;
	justify-content: space-between;
}

.skream {
	position: fixed;
	z-index: 2;
	right: 10%;
	top: 10%;
	display: flex;
	justify-content: space-between;
}

.card {
	display: flex;
	border-radius: 1.5rem;
	padding: 1rem;
	text-align: left;
	width: 80%;
	justify-content: space-between;
	align-items: center;
}

.text {
	height: 100%;
	width: 50%;
	padding: 1rem;
}

.heading {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.content {
	font-size: 1rem;
	font-weight: 400;
}

.card-image {
	width: 50%;
	height: auto;
	display: flex;
	align-items: center;
}

.card-image img {
	max-width: 100%;
	height: auto;
	border-radius: 1rem;
}

.LandingPage {
	height: 100vh;
	width: 100vw;
}

.LandingPage--KJSCE {
	color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #efefef;
	font-size: 10rem;
	position: absolute;
	transform: translateY(-30%) translateX(25%);
	top: 0;
	font-weight: 900;
}

.LandingPage--SKREAM {
	position: absolute;
	display: inline-block;
	color: #efefef;
	font-size: 11rem;
	bottom: 0;
	right: 0;
	transform: translateY(15%) translateX(-10%);
	line-height: 1;
	font-weight: 900;
}

.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.LandingPage--image {
	opacity: 0.8;
	width: 20vw;
	z-index: -1;
}

.football {
	position: absolute;
	top: 0;
	left: 0;
}

.rink {
	position: absolute;
	top: 0;
	right: 0;
}

.athletics {
	bottom: 0;
	position: absolute;
	left: 0;
}

.LandingPage-showCase {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 45%;
	width: 40vw;
	height: 50vh;
	background-color: #010835;
	transform: translate(-50%, -50%);
	border: 1px solid #efefef;
}

.swiper {
	height: 85%;
	width: 90%;
}

.swiper-slide {
	opacity: 0.7;
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide>img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.LandingPage--man {
	z-index: 100;
	position: absolute;
	height: 70vh;
	top: 0;
	left: 0;
}